/* Общие классы */
* {box-sizing: border-box;}
.box {width: 100%; position: relative;}
.box:after {content: ""; display: block; clear: both;}
.center {text-align: center;}
img {border: 0 none; height: auto; max-width: 100%; vertical-align: middle;}

/* Подгонка под старые браузеры: делаем HTML5 элементы блочными */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {display: block;}

html, body {width: 100%; overflow-x: hidden; margin: 0; padding: 0;}

.grid {margin: 0 0 -15px -15px; width: auto;}
.grid > * {padding: 0 0 15px 15px;}
.grid > .nogrid {padding-bottom: 0;}

.col12{float:left; width: 100%;}
.col11{float:left; width: 91.66666667%;}
.col10{float:left; width: 83.33333333%;}
.col9 {float:left; width: 75%;}
.col8 {float:left; width: 66.66666667%;}
.col7 {float:left; width: 58.33333333%;}
.col6 {float:left; width: 50%;}
.col5 {float:left; width: 41.66666667%;}
.col4 {float:left; width: 33.33333333%;}
.col3 {float:left; width: 25%;}
.col2 {float:left; width: 16.66666667%;}
.col1 {float:left; width:  8.33333333%;}

.fl-l{float: left;}
.fl-r{float: right;}

.rotate-left {-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
.rotate-right {-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg);
               -ms-transform: rotate(45deg); transform: rotate(45deg);}

.rhombus {float: left; width: 200px; height: 200px; margin: 37px;
          background: #46244f; border: 6px solid #3ac793;
          -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
