/* Общие классы */
* {box-sizing: border-box;}
.box {width: 100%; position: relative;}
.box:after {content: ""; display: block; clear: both;}
.center {text-align: center;}
img {border: 0 none; height: auto; max-width: 100%; vertical-align: middle;}

/* Подгонка под старые браузеры: делаем HTML5 элементы блочными */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {display: block;}

html, body {width: 100%; overflow-x: hidden; margin: 0; padding: 0;}

.grid {margin: 0 0 -15px -15px; width: auto;}
.grid > * {padding: 0 0 15px 15px;}
.grid > .nogrid {padding-bottom: 0;}

.col12{float:left; width: 100%;}
.col11{float:left; width: 91.66666667%;}
.col10{float:left; width: 83.33333333%;}
.col9 {float:left; width: 75%;}
.col8 {float:left; width: 66.66666667%;}
.col7 {float:left; width: 58.33333333%;}
.col6 {float:left; width: 50%;}
.col5 {float:left; width: 41.66666667%;}
.col4 {float:left; width: 33.33333333%;}
.col3 {float:left; width: 25%;}
.col2 {float:left; width: 16.66666667%;}
.col1 {float:left; width:  8.33333333%;}

.fl-l{float: left;}
.fl-r{float: right;}

.rotate-left {-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
.rotate-right {-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg);
               -ms-transform: rotate(45deg); transform: rotate(45deg);}

/* Сторона обычного ромба 198px, высота 280px */
/* Сторона большого ромба 396px, высота 560px */
/*.rhombuses {width: 1200px; margin: -41px auto 41px auto;}   !* 41 = (280-198)/2 *!*/
/*.rhombus {float: left; width: 198px; height: 198px; background: #46244f; border: 6px solid #3ac793;*/
          /*margin-top: -58px; !* -(280/2-198) *!*/
          /*margin-left: 82px; !* (280-198) *!*/
          /*-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg);*/
          /*-ms-transform: rotate(-45deg); transform: rotate(-45deg);}*/
/*.rhombus.big {width: 396px; height: 396px; margin-top: -157px; margin-left: 123px;}*/
/*.rhombus.first {margin-left: 222px;} !* сдвиг первого ромба в нечётной линии *!*/

/* Сторона обычного ромба 198px, высота 280px */
/* Сторона большого ромба 396px, высота 560px */
.rhombuses {position: relative; width: 1120px; height: 420px; margin: 0 auto; padding: 0;}
.rhombus {position: absolute; width: 198px; height: 198px; margin: 41px; /* 41 = (280-198)/2 */
          background: #46244f; border: 6px solid #3ac793;
          -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
.rhombus.big {top: -140px; left: 420px; width: 396px; height: 396px; margin: 82px;}
.rhombus.s1  {top: -140px; left: 0;}
.rhombus.s2  {top: -140px; left: 280px;}
.rhombus.s3  {top: -140px; left: 840px;}
.rhombus.s4  {top:    0;   left: 140px;}
.rhombus.s5  {top:  140px; left: 0;}
.rhombus.s6  {top:  140px; left: 280px;}
.rhombus.s7  {top:  140px; left: 840px;}
.rhombus.s8  {top:  280px; left:-140px;}
.rhombus.s9  {top:  280px; left: 140px;}
.rhombus.s10 {top:  280px; left: 420px;}
.rhombus.s11 {top:  280px; left: 700px;}
.rhombus.s12 {top:  280px; left: 980px;}
