/**
 *  Общие классы
 */
* {box-sizing: border-box;}
.box {width: 100%; position: relative;}
.box:after {content: ""; display: block; clear: both;}
.center {text-align: center;}
img {border: 0 none; height: auto; max-width: 100%; vertical-align: middle;}
ul {list-style: none; margin: 0; padding: 0;}

/* Подгонка под старые браузеры: делаем HTML5 элементы блочными */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {display: block;}

html, body {width: 100%; overflow-x: hidden; margin: 0; padding: 0;}
body {font-size: 13px; font-family: "Segoe UI", Arial, Helvetica, sans-serif}



/**
 *  ЗАРЕЗЕРВИРОВАННЫЕ ИМЕНА КЛАССОВ
 *  Не используй эти имена самостоятельно!
 *  Они нужны для уточнений внутри других классов.
 */
.big, .top {}



/**
 *  Сетка и колонки, общий вариант.
 */
.grid {margin: 0 0 -15px -15px; width: auto;}
.grid > * {padding: 0 0 15px 15px;}
.grid > .nogrid {padding-bottom: 0;}

.col12{float:left; width: 100%;}
.col11{float:left; width: 91.66666667%;}
.col10{float:left; width: 83.33333333%;}
.col9 {float:left; width: 75%;}
.col8 {float:left; width: 66.66666667%;}
.col7 {float:left; width: 58.33333333%;}
.col6 {float:left; width: 50%;}
.col5 {float:left; width: 41.66666667%;}
.col4 {float:left; width: 33.33333333%;}
.col3 {float:left; width: 25%;}
.col2 {float:left; width: 16.66666667%;}
.col1 {float:left; width:  8.33333333%;}

.fl-l{float: left;}
.fl-r{float: right;}

.rotate-left {-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
.rotate-right {-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg);
               -ms-transform: rotate(45deg); transform: rotate(45deg);}



/**
 *  Ромбы в самом верху главной страницы.
 *  Сторона обычного ромба 198px, высота 280px
 *  Сторона большого ромба 396px, высота 560px
 */
.rhombuses {position: relative; width: 1120px; height: 420px; margin: 0 auto; padding: 0; overflow: hidden;}
.rhombus {position: absolute; width: 198px; height: 198px; margin: 41px; /* 41 = (280-198)/2 */
          background: #3ac793; border: 6px solid transparent; overflow: hidden;
          -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
.rhombus:after {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                z-index: -1; content: ''; background: #46244f;}
.rhombus.big {top: -140px; left: 420px; width: 396px; height: 396px; margin: 82px;}
.rhombus.r1  {top: -140px; left:     0;}
.rhombus.r2  {top: -140px; left: 280px;}
.rhombus.r3  {top: -140px; left: 840px;}
.rhombus.r4  {top:      0; left: 140px;}
.rhombus.r5  {top:  140px; left:     0;}
.rhombus.r6  {top:  140px; left: 280px;}
.rhombus.r7  {top:  140px; left: 840px;}
.rhombus.r8  {top:  280px; left:-140px;}
.rhombus.r9  {top:  280px; left: 140px;}
.rhombus.r10 {top:  280px; left: 420px;}
.rhombus.r11 {top:  280px; left: 700px;}
.rhombus.r12 {top:  280px; left: 980px;}

.rhombus .kharin {position: absolute; bottom: 0; left: 0; padding: 10px; color: #fff;}
.rhombus p.tile {
    display: block; position: relative; width: 141%; height: 141%; top: -20.5%; left: -20.5%; margin: 0; padding: 0;
    background-position: center center; background-size: cover;
    -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); transform: rotate(45deg);}

.main-menu {margin: 0; padding: 0; font-size: 1.1em; color: #46244f; background: #fde9a0;}
.main-menu > div {display: table; margin: 0 auto; max-width: 1170px; width: 100%;}
.main-menu ul.top {display: table-row; text-align: center;}
.main-menu ul.top > li {display: table-cell; position: relative; width: 10%; padding-left: 4px;}
.main-menu ul.top > li + li:before {display: block; content: "|"; position: absolute; left: 0; line-height: 47px;}
.main-menu a {display: block; width: 100%; line-height: 47px; padding: 0 5px; color: #46244f; text-decoration: none;}
.main-menu a:hover {background: #3ac793;}
